h1{
    color: blueviolet;
    
    outline-color: black;
    outline-style: ridge;
    text-align: center;
    text-shadow: 10px;
}

body{
    background-color: white;
    /*  background-image: url("media/gaybird.jpg"); */
	/*  background-repeat: no-repeat; */
    /*  background-attachment: fixed; */
	/*  background-size: cover; */

}

.background-img{

    background:url('media/BongoCat.png');
    position: absolute;
    right: 0px;
    bottom: 0px;

}