h1{
    color: blueviolet;
    outline-color: black;
    outline-style: ridge;
    text-align: center;
    text-shadow: 10px;
}

body{
    background-image: url("media/gaybird.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: scroll;
    max-width: 100%;
    height: auto;
}

