h1{
    color: blueviolet;
    
    outline-color: black;
    outline-style: ridge;
    text-align: center;
    text-shadow: 10px;
}


body{
    
    /*  background-image: url("media/gaybird.jpg"); 
	  background-repeat: no-repeat; 
      background-attachment: fixed;
	  background-size: cover; 
    */
    
    
    background-color: #ffff; /*Default bg, similar to the background's base color*/
    background-position: right bottom; /*Positioning*/
    background-repeat: no-repeat; /*Prevent showing multiple background images*/
    background-image: url("media/BongoCat.png");
}